// Place all the styles related to the paper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px;
}
h1 {
  font-size: 30px;
  margin-left: 20px;
}
p {
  line-height: 1.7;
  margin-left: 20px;
}
